@import '../../styles/mixin.scss';
@import '../../styles/common.scss';

.profileStory {
  @include flex(left, center);
  margin-bottom: 15px;
  gap: 10px;

  .profileImg {
    @include imgSize;
  }

  .profileDiv {
    @include flex(left, null);
    @include profileDiv;

    .colorGray {
      @include profileSpan;
    }
  }
}

.profileRecommend {
  @include flex(space-between, center);
  margin-bottom: 15px;
  gap: 10px;

  .recommendDiv {
    @include flex(left, null);
    gap: 10px;

    .profileImg {
      @include imgSize;
    }

    .profileDiv {
      @include flex(left, null);
      @include profileDiv;

      .colorGray {
        @include profileSpan;
      }
    }
  }

  .blueB {
    margin-top: 10px;
    cursor: pointer;
  }
}
