.mainPage {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  height: 100vh;
  .nav {
    margin: 0;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: #fff;
    border-bottom: 1px solid #dbdbdb;
    z-index: 100;

    /* box-sizing: border-box; */
    .nav-item {
      display: flex;
      justify-content: space-evenly;
      .logo {
        width: 30px;
        margin-right: 5px;
        margin-bottom: -5px;
      }

      .dash {
        width: 30px;
        margin-bottom: -5px;
      }
      .letterLogo {
        display: inline-block;
        font-family: 'lobster', cursive;
      }

      .inputName {
        margin: 20px 50px 0px 50px;
        // text-align: center;
        // background-color: #fafafa;
        // border-radius: 3px;
        // width: 180px;
        // height: 20px;
        // border: 1px solid #dbdbdb;
        position: relative;

        input {
          text-align: center;
          background-color: #fafafa;
          border-radius: 3px;
          width: 180px;
          height: 20px;
          border: 1px solid #dbdbdb;
        }

        .inputPic {
          position: absolute;
          width: 15px;
          top: 4px;
          left: 55px;
          margin: 0;
        }
      }
      .topRight {
        margin-top: 15px;
        .heart {
          margin: 0px 16px 0px 16px;
          width: 30px;
        }

        .Compass {
          width: 30px;
        }

        .myPage {
          width: 30px;
        }
      }
    }
  }
  main {
    display: flex;
    position: relative;
    /* border: 2px solid green; */
    margin-top: 53px;
    justify-content: center;

    .main-left {
      padding: 15px;

      .feeds {
        // border: 2px solid red;
        width: 530px;
        height: 720px;
        display: inline-block;
        padding: 28px 0px 10px 0px;

        /* box-sizing: border-box; */
        .article {
          background-color: white;
          border: 1px solid #dbdbdb;
          /* padding: 20px; */
          height: 680px;
          margin-top: 10px;
          font-size: 15px;

          .profile {
            position: relative;
            margin-left: 10px;
            margin-top: 10px;

            .proFilePic {
              width: 40px;
              border: 1px solid white;
              border-radius: 20px;
              display: inline-block;
            }

            .profileName {
              position: absolute;
              margin-top: 13px;
              margin-left: 10px;
              font-weight: bold;
            }
            .dot {
              width: 20px;
              float: right;
              margin-right: 20px;
              margin-top: 10px;
            }
          }
          .dogPic {
            width: 529px;
            height: 400px;
          }
          .emoji {
            display: flex;
            justify-content: space-between;
            .emoji-left {
              margin-top: 10px;
              .likes {
                width: 30px;
                margin-left: 20px;
              }
              .chat {
                width: 30px;
                margin: 0px 15px 0px 15px;
              }
              .send {
                width: 30px;
              }
            }
            .mark {
              width: 30px;
              margin-right: 10px;
              margin-top: 10px;
            }
          }
          .likePic {
            display: flex;
            align-items: center;
            margin: 0px 10px 0px 10px;

            .ondal {
              width: 25px;
              height: 25px;
              border-radius: 20px;
            }
            .likeInfo {
              margin-left: 10px;
              font-weight: bold;
              // position: absolute;
              // margin-top: -15px;
            }
          }
          .ondalID {
            display: inline-block;
            margin: 10px 10px 0px 10px;
            font-weight: bold;
          }
          .yumyumID {
            display: inline-block;
            margin: 10px 10px 0px 10px;
            font-weight: bold;
          }

          .chatMin {
            margin-left: 10px;
            font-weight: 300;
            margin-top: auto;
          }

          .commWrap {
            height: 100px;
            // overflow-y: scroll;
            .feedComments {
              display: flex;
              flex-direction: column-reverse;
              // overflow-y: scroll;
              .commId {
                font-weight: bold;
                margin-left: 10px;
                margin-right: 10px;
              }

              .delete {
                width: 15px;
                float: right;
                margin-right: 15px;
              }
              .heartMini {
                width: 15px;
                float: right;
                margin-right: 10px;
              }
            }
          }
        }
      }
    }
    .BoxComment {
      // display: flex;
      /* margin-top: 100px; */
      margin-top: 0px;
      position: relative;
      width: 530px;
      height: 50px;
      border: 1px solid #dbdbdb;
      background-color: white;
      padding: 1px;
      .commentBox {
        // position: absolute;
        width: 480px;
        height: 45px;
        border: 0px solid #dbdbdb;
        // border-right: 0px;
      }
      button {
        position: absolute;
        // margin-left: 50px;
        background-color: white;
        width: 44px;
        height: 45px;
        border: 0px solid #dbdbdb;

        color: #3a6ea5;
        cursor: pointer;
      }
    }

    .main-right {
      margin-left: 10px;
      padding: 10px;

      .side-bar {
        width: 300px;
        height: 600px;
        display: inline-block;

        .bootCamp {
          position: relative;
          margin-left: 10px;
          margin-top: 10px;
          .bcPic {
            width: 40px;
            border: 1px solid white;
            border-radius: 20px;
            display: inline-block;
          }

          .weCode {
            position: absolute;
            display: inline-block;
            margin: 7px 0px 0px 10px;
            font-weight: bold;
          }

          .weCode2 {
            position: absolute;
            display: inline-block;
            margin: 22px 0px 0px 10px;
            font-weight: 400;
            color: grey;
          }
        }
        .storySection {
          border: 1px solid #dbdbdb;
          margin-top: 10px;
          padding: 10px;
          height: 165px;
          background-color: white;
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          position: relative;
          overflow-y: scroll;

          .story {
            color: grey;
          }
          .storyPic {
            position: absolute;
            margin-top: 20px;
            width: 250px;
            height: 165px;
            padding-left: 10px;
            ._we_ {
              width: 30px;
              height: 30px;
              border-radius: 20px;
              margin-top: 8px;
            }

            ._we_2 {
              position: absolute;
              display: inline-block;
              margin: 7px 0px 0px 10px;
              font-weight: bold;
            }
            ._we_3 {
              position: absolute;
              display: inline-block;
              margin: 22px 0px 0px 10px;
              font-weight: 400;
              color: grey;
            }
            .code_ {
              width: 30px;
              height: 30px;
              border-radius: 20px;
              margin-top: 8px;
            }

            .code_2 {
              position: absolute;
              display: inline-block;
              margin: 7px 0px 0px 10px;
              font-weight: bold;
            }
            .code_3 {
              position: absolute;
              display: inline-block;
              margin: 22px 0px 0px 10px;
              font-weight: 400;
              color: grey;
            }
            .forty {
              width: 30px;
              height: 30px;
              border-radius: 20px;
              margin-top: 8px;
            }

            .fortyTwo {
              position: absolute;
              display: inline-block;
              margin: 7px 0px 0px 10px;
              font-weight: bold;
            }
            .fortyThree {
              position: absolute;
              display: inline-block;
              margin: 22px 0px 0px 10px;
              font-weight: 400;
              color: grey;
            }
            .frontEnd {
              width: 30px;
              height: 30px;
              border-radius: 20px;
              margin-top: 8px;
            }

            .frontEndTwo {
              position: absolute;
              display: inline-block;
              margin: 7px 0px 0px 10px;
              font-weight: bold;
            }
            .frontEndThree {
              position: absolute;
              display: inline-block;
              margin: 22px 0px 0px 10px;
              font-weight: 400;
              color: grey;
            }
          }
        }
        .recommend {
          border: 1px solid #dbdbdb;
          margin-top: 10px;
          padding: 10px;
          height: 180px;
          background-color: white;
          display: flex;
          justify-content: space-between;
          font-size: 15px;
          position: relative;
          .recommendFor {
            color: grey;
          }
          .recommendPic {
            position: absolute;
            margin-top: 20px;
            width: 250px;
            height: 165px;
            padding-left: 10px;

            .recom1 {
              width: 30px;
              height: 30px;
              border-radius: 20px;
              margin-top: 8px;
            }
            .recom2 {
              position: absolute;
              display: inline-block;
              margin: 7px 0px 0px 10px;
              font-weight: bold;
            }
            .recom3 {
              position: absolute;
              display: inline-block;
              margin: 22px 0px 0px 10px;
              font-weight: 400;
              color: grey;
            }
          }
        }
        .pageInfo {
          font-size: 13px;
          margin: 20px 10px;
          color: grey;
        }
      }
    }
  }
}
