@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin imgSize() {
  width: 24px;
  height: 24px;
}

@mixin profileDiv {
  flex-direction: column;
  gap: 2px;
}

@mixin profileSpan {
  width: 140px;
  height: 18px;
  margin-top: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
