.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    background-color: #ffffff;
    padding: 10px;
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    z-index: 2;
    .navbar-left {
      font-family: 'Lobster';
      font-size: 25px;
    }
    .navbar-center {
      .search {
        width: 230px;
        padding: 5px;
        background-color: #fafafa;
        border: 1px solid #dbdbdb;
        text-align: center;
      }
    }
    .navbar-right {
      img {
        margin: 10px;
        width: 20px;
        height: 20px;
      }
      .profileBtn {
        cursor: pointer;
        position: relative;
      }
    }
    .hideMenu {
      display: none;
    }
    .showMenu {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  @media (max-width: 800px) {
    .navbar-center {
      display: none;
    }
  }  
  
  @media (max-width: 600px) {
    .navbar-right {
      display: none;
    }
  }
