.loginLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #fafafa;
  .loginPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid #dbdbdb;
    .logo {
      margin-top: 20px;
      margin-bottom: 40px;
      font-family: 'Lobster';
      font-size: 25px;
    }
    input {
      width: 80%;
      margin-top: 10px;
      padding: 10px;
      border: 1px solid #dbdbdb;
      font-size: 12px;
    }
    .findPw {
      margin-top: 110px;
    }
  }
}
