@import '../../../../styles/mixin.scss';
@import '../../../../styles/common.scss';

.comment {
  @include flex(space-between, center);
  width: 443px;
  margin: 0 10px 15px 10px;
  gap: 5px;

  .commentDiv {
    @include flex(left, null);

    .fontBold {
      padding-right: 10px;
    }

    .commentP {
      word-break: break-all;
    }
  }

  .commentFuncDiv {
    @include flex(null, right);

    .heartBtn {
      @include flex(center, center);
      background-color: white;
      border: none;
      margin: 0px;
      cursor: pointer;

      .heartBtnImg {
        width: 12px;
        height: 12px;
      }
    }

    .deleteBtn {
      border-style: none;
      background-color: white;
      color: gray;
      cursor: pointer;
    }
  }
}
