@import '../../../styles/mixin.scss';

.main {
  flex-direction: column;
  @include flex(center, null);

  .mainMain {
    @include flex(center, null);
    height: 100%;
    padding: 40px 0px;
    background: #eeeeee;
  }
}
