@import '../../../styles/mixin.scss';

.main {
  flex-direction: column;
  @include flex(center, null);

  /* main-feeds */
  .mainMain {
    @include flex(center, null);
    height: 100%;
    padding: 40px 0px;
    background: #eeeeee;

    // divMainRight
    .divMainRight {
      .myProfileWrapper {
        @include flex(null, center);
        height: 36px;
        margin-bottom: 20px;

        .myProfileImg {
          width: 36px;
          height: 36px;
          margin-right: 10px;
          margin-bottom: 0px;
        }

        .profileId {
          font-size: 18px;
        }
      }

      .profileWrapper {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 15px;
        margin-bottom: 20px;
        border: 1px solid lightgray;
        background: white;

        .titleWrapper {
          @include flex(space-between, center);
          margin-bottom: 20px;
        }
      }
    }
  }
}
